/* Importar a fonte Inter do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
@media screen and (max-width: 320px){
  #interface{
    width: 320px;
    color: red;
  }
  header section{
    height: 800px;
  }
  header figure img#logo{
    position: relative;
  }

}
@media screen and (max-width: 500px){
  #interface{
    width: 400px;
    margin: 20px;
    float: none;
  }
  div#interface section#cont_1 aside img{
    display: none;
  }
  div#interface header section{
    height: 50px;
  }
  #cont_1{
    width: 100%;

  }
  div.circle{
    display: none;
  }
  div#interface header section img#logo{
    width: 40px;
    margin: 15px 0px 10px -20%;
    position: relative;
  }
  div#interface section#cont_1{
    width: 600px;
    background-size: cover;
  }
  div#interface section#cont_1 h1{
    font-size: 40px;
  }
  div#interface section#cont_1 article.description{
    background-color: none;
    backdrop-filter: blur(0);
    box-shadow: none;
    font-size: 10px;
  }
}
body{
  background: linear-gradient(
    100deg,
    #131A40,
    #273273,
    #131A40
  );
  height: 100vh;
  background-size: 400% 400% !important;
  animation: gradient 15s ease infinite;
  font-family: 'Open-Sans', sans-serif;
  margin: 0 auto;
}

@keyframes gradient{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
#interface{
  padding: 0;
  width: 1860px;
  align-items: center;
  margin: 0 auto;
  margin-top: -15px;
  min-width: 340px;
}
header{
  text-align: center;
  padding: 9px 0;
}
header section{
  max-width: 1860px;
  margin: 0 auto;
  height: 120px;
  padding: 0 5%;
  background-color: white;
  box-shadow: 0px 1px 10px black;
  position: fixed;
  width: 2910px;
  z-index: 99999;
}
header nav{
  margin-top: -47px;
  padding-top: -40px;
  text-align: right;
  margin-left: 63%;
  width: 600px;
  position: relative;
}
header nav a{
  text-decoration: none;
  color: #183153;
  padding-right: 25px;
}
header nav ul li{
  display: inline-block;
  margin: 0 10px;
  font-size: 15px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}
header figure img#logo{
  margin-top: 40px;
  height: 4%;
  width: 4%;
  position: relative;
  left: -670px;
}
section.content{
  width: 100%;
  height: 900px;
}
section#cont_1{
  padding-top: 100px;
  background-image: url("../img/pixels.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
article.description{
  height: 400px;
  width: 650px;
  margin-left: 11%;
  margin-top: 220px;
  padding: 40px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, .05);
  box-shadow: 0 0 151px black;
  border-radius: 15px;
}
#wellcome{
  font-size: 75px;
  color: white;
  margin-left: -4px;
  margin-bottom: 60px;
}
article.description p{
  color: white;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
article h1#inicio{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #ff6600;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}
article h1#inicio:after{
  content: " ";
  width: 0%;
  height: 100%;
  background: #183153;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0
}
article h1#inicio:hover::after{
  right: auto;
  left: 0;
  width: 100%;
}
article h1#inicio a{
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #183153;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.1em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}
article h1#inicio a:hover{
  color: white;
 animation: scaleUp 0.3s ease-in-out;
}
article.description p.paragrafo span{
  display: block;
  opacity: 0;
  animation: reveal 2.0s forwards var(--d);
  position: relative;
  top: -40px;
}
@keyframes reveal{
    from{
      transform: translateY(20px);
    }
    to{
      opacity: 1; transform: none;
    }
}
section.content div.circulos{
  width: 600px;
  height: 700px;
  position: absolute;
  top: -100px;
  margin-left: 800px;
}
section.content div.circle{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 40%;
    left: 50%;
}
section.content .circulos div#circle1{
  left: 140%;
  top: 22%;
  width: 110px;
  height: 110px;
}
section.content .circulos div#circle2{
    left: 23%;
    top: 540px;
    position: absolute;
    z-index: 999;
    width: 120px;
    height: 120px;
}
/* Circle 3 - HTML */
section.content .circulos div#circle3{
    position: relative;
    left: 190px;
    top: 57%;
    z-index: 10;
    width: 400px;
    height: 400px;
}
section.content .circulos div#circle4{
    position: relative;
    left: 110%;
    top: -35%;
    width: 240px;
    height: 240px;
}
/* Circle 5 - CSS */
section.content .circulos div#circle5{
    position: relative;
    left: 83.7%;
    top: -45px;
    z-index: 1;
    width: 300px;
    height: 300px;
}
/* Circle 6 - Java Script */
section.content .circulos div#circle6{
  left: 119.5%;
  top: -440px;
  position: relative;
  width: 190px;
  height: 190px;
}
section.content .circulos div#circle7{
  left: 10%;
  top: 130%;
  position: absolute;
  width: 230px;
  height: 230px;
}
section.content aside{
  width: 600px;
  margin: 0 auto;
  margin-left: 53.7%;
}
section.content aside img#html{
  width: 250px;
  height: 250px;
  position: relative;
  top: -345px;
  left: 10.5%;
  z-index: 9999;
}
section.content img#css{
  width: 130px;
  height: 183px;
  position: relative;
  top: -235px;
  z-index: 9999;
  left: 22%;
}
section.content img#js{
  width: 120px;
  height: 120px;
  position: relative;
  top: -420px;
  left: 27%;
}
section.content div.circle::before,
section.content div.circle:after{
  content: "";
  position: absolute;;
  border-radius: inherit;
}
section.content div.circle:before{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, orange 0%, blue 100%);
  animation: spin 1.5s infinite linear;
}

section.content div.circle:after{
    width: 85%;
    height: 85%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section.content video{
  width: 100%;
  min-width: 1865px;
  max-width: 1865px;
  position: absolute;
  top: 0px;
  z-index: -100;
  opacity: 0.4;
}
@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}
section#cont_2{
  background-color: white;
  position: relative;
  height: 1000px;
  margin-bottom: -20px;
}
section#cont_2 h1{
  text-align: left;
  margin-left: 160px;
  padding-left: 60px;
  font-size: 40px;
  font-family: 'Noto Sans', sans-serif;
  padding-top: 60px;
  color: rgb(18, 18, 145);
  margin-bottom: -70px;
}
section#cont_2 p#description{
  max-width: 805px;
  margin-left: 210px;
  margin-top: 157px;
  position: absolute;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  background-color: orange;
  padding: 32px;
  height: 290px;
  border-radius: 10px 0 0 10px;
  border-left: 5px solid rgb(18, 18, 145);

}
section#cont_2 p#description2{
  max-width: 805px;
  margin-left: 210px;
  margin-top: 476px;
  position: absolute;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  background-color: orange;
  padding: 32px;
  border-radius: 10px 0 0 10px;
  height: 36.3%;
  border-left: 5px solid rgb(18, 18, 145);

}

section#cont_2 picture img#foto_eu{
  max-width: 584px;
  margin-left: 56%;
  margin-top: 114px;
  border-bottom:26px solid orange;
  position: absolute;
}
section#cont_3{
  height: 340px;
  background: linear-gradient(
    100deg,
    #131A40,
    #273273,
    #131A40
  );
}

section#cont_3 h2{
  color: white;
  font-family: 'Noto Sans', 'sans-serif';
  margin-left: 170px;
  font-size: 40px;
  padding: 30px;
  padding-top: 80px;
}
section#cont_3 ul{
  width: 1463px;
  margin: 25px auto;
  text-align: center;
}

section#cont_3 ul li{
  font-size: 15pt;
  display: inline-block;
  padding: 15px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  color: rgb(18, 18, 145);
  font-family: 'Noto Sans', 'sans-serif';
  transition: 0.5s;

}
section#cont_3 ul li:hover{
  transition: 0.5s;
  transform: translateY(-10px);
  background-color: orange;
  color: white;
}
section#cont_4{
  height: 800px;
  background-color: white;

}

section#cont_4 div#container{
  display: flex;
  overflow-x: scroll;
  height: 450px;
  width: 1500px;
  margin: 0 auto;
}
section#cont_4 h2{
  color: rgb(18, 18, 145);
  font-family: 'Noto Sans', 'sans-serif';
  text-align: left;
  margin-left: 165px;
  font-size: 40px;
  padding: 35px;
  padding-top: 60px;
}
section#cont_4 div#container article.projetos{
  min-width: 430px;
  height: 360px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(44, 44, 44, 0.2);
  font-family: 'Open Sans', 'sans-serif';
  font-size: 25px;
  font-weight: 700;
  color: #131A40;
  border-top: 4px solid rgb(18, 18, 145);
  transition: 0.5s;
}
section#cont_4 div#container article.projetos:hover{
  transform: translateY(-20px);
  transition: 0.5s;
}
section#cont_4 div#container article.projetos p{
  position: relative;
  margin-top: 270px;
  padding: 25px;
  border-top: 4px solid rgb(18, 18, 145);
}

section#cont_4 div#container article#nizadeon{
  background-image: url("../img/projetos_pic/nizadeon.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

section#cont_4 div#container article#bliotech{
  background-image: url("../img/projetos_pic/bliotech.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

section#cont_4 div#container article#relogio{
  background-image: url("../img/projetos_pic/relogio.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

section#cont_4 div#container article#breve{
  background-image: url("../img/projetos_pic/breve.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
section#cont_4 a{
  font-family: 'Noto Sans', 'sans-serif';
  font-size: 30px;
  background-color: #ff6600;
  color: white;
  padding: 20px;
  border-radius: 15px;
  width: 500px;
  transition: 0.5s;
  text-decoration: none;
}
section#cont_4 h1{
  text-align: left;
  margin-top: 60px;
  margin-left: 200px;
  transition: 0.5s;
}

section#cont_4 h1:hover{
  transform: translateY(-10px);
  transition: 0.5s;
}
section#cont_4 h1 a:hover{
  background-color: #131A40;
  transition: 0.5s;
}
footer{
  height: 230px;
  background: linear-gradient(
    100deg,
    #131A40,
    #273273,
    #131A40
  );  position: relative;
}
footer p{
  font-family: 'Open Sans', 'sans-serif';
  font-size: 30px;
  background-color: #ff6600;
  padding-bottom: 25px;
  padding-top: 25px;
  color: white;
  text-align: center;
  position: relative;
}
footer p a{
  color: white;
}
footer img#logo{
  width: 120px;
  margin: 20px 0 10px 200px;

}
footer ul{
  width: 600px;
  margin: -40px 0 0 20%;
}
footer ul li{
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-family: 'Open Sans', 'sans-serif';
}
footer div#social-media{
  width: 400px;
  margin: -75px 0 0 69%;
}
footer div#social-media a img.media{
  width: 37px;
  padding-right: 5px;
}
footer h2{
  color: white;
  font-size: 15px;
  font-family: 'Open Sans', 'sans-serif';
  text-align: right;
  margin-right: 200px;
  margin-top: -30px;
}
